.checkbox {
  border-radius: 4px;
  border: 1px solid #d6d9e6;
  width: 20px;
  position: relative;
  height: 20px;
  cursor: pointer;
  svg {
    padding-left: calc(50% - 6.5px);
  }
}
.checked {
  background-color: #483eff;

  cursor: pointer;
}
