.next {
  display: inline-flex;
  width: 375px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  //transform: translate(0, -74px);
}
.back-step {
  font-size: 14px;
  color: grey;
  border: none;
  background: none;
  margin: 0 16px;
  display: flex;
  // align-self: center;
}
.next-step {
  width: 97px;
  height: 40px;
  background: #022959;
  color: white;
  font-size: 14px;
  border: none;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 800;
}
.back-step__none {
  opacity: 0;
}
@media (min-width: 940px) {
  .next {
    height: 32px;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    transform: translate(0, -32px);
    &__step {
      margin: 0;
    }
  }
}
