* {
  margin: 0;
}
button {
  cursor: pointer;
}
.multi-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eff5ff;
  position: relative;
  height: 100svh;
}
.multi-step {
  position: relative;
  align-items: center;
}

@media (min-width: 940px) {
  .multi-step {
    position: absolute;
    left: 0;
  }
  .desc-img {
    position: relative;
  }
}
