.add-ons {
  border: 1px solid #d6d9e6;
  border-radius: 8px;
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__clicked {
    border: 1px solid #d6d9e6;
    border-radius: 8px;
  }
  &__container {
    height: 62px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
  &__info {
    padding-left: 16px;
    width: 164px;
  }
  .item-text {
    width: 164px;
  }
  &__check {
    padding-left: 16px;
    width: 20px;
    height: 20px;
  }
  .checked {
    background-color: #483eff;
  }
  &__price {
    font-size: 12px;
    padding-right: 16px;
    color: #483eff;

    font-weight: 400;
  }
}
@media (min-width: 960px) {
  .add-ons {
    width: 450px;
    height: 81px;
    cursor: pointer;
    &__clicked {
      border: 1px solid #483eff;
      border-radius: 8px;
      width: 450px;
      display: flex;
      align-items: center;
      height: 81px;
      justify-content: space-between;
    }
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      padding-left: 24px;
    }
    &__price {
      padding: 0 24px 0 29px;
    }
  }
  .add-ons:hover {
    border: 1px solid #483eff;
    transition: 0.5s;
  }
  .item-title {
    font-size: 16px;
  }
  .item-text {
    font-size: 14px;
  }
}
